<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %><br>
  <strong>Associated Movies:</strong>
  <table>
    <% @person.jobs.each do |job| %>
      <tr>
        <% Movie.where(id: job.movie_id).each do |movie| %>
          <td><%= link_to "#{job.movie.title}", movie %></td>
          <td><%= job.position %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'People Main Page', people_path %>
