<%= form_for @movie, url: {action: 'create_job'}, method: :post do |m_form| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this job from being assigned:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h1><%= @movie.title %></h1>
  <div class="field">
    <strong>Select People</strong><br>
    <%= m_form.fields_for :person do |p_field| %>
      <table>
      <tr>
        <td><%= p_field.label :list_of_people %></td>
        <td><%= p_field.collection_select :person_id, Person.all, :id, :name, prompt: true %></td>
        <%= p_field.fields_for :jobs do |j_field| %>
        <td><%= j_field.text_field :position %></td>
        <% end %>
      </tr>
      </table>
    <% end %>
  </div>
  <div class="actions">
    <%= m_form.submit %>
  </div>
<% end %>
