<h1>Editing Movie</h1>

<%= render 'form', movie: @movie %>

<%= link_to 'Show', @movie %> |
<%= link_to 'Assign a new job', assign_job_path(@movie.id) %> | 
<%= link_to 'Movie Main Page', movies_path %>
