<%= form_for @movie, url: {action: 'update_job'}, method: :post do |m_form| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this job from being assigned:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h1><%= @movie.title %></h1>
  <div class="field">
    <table>
      <tr>
        <td><%= @person.name %></td>
        <%= m_form.fields_for @job do |j_field| %>
        <td><%= j_field.text_field :position %></td>
        <% end %>
      </tr>
    </table>
  </div>
  <div class="actions">
    <%= m_form.submit %>
  </div>
<% end %>
