<p id="notice"><%= notice %></p>
<p>
  <strong>Title:</strong>
  <%= @movie.title %><br>
  <strong>Team:</strong>
  <table>
    <% @movie.jobs.each do |job| %>
      <tr>
        <td><%= link_to job.person.name, job.person %></td>
        <td><%= job.position %></td>
        <td><%= link_to 'Edit Job', edit_job_path(@movie.id, job.id) %></td>
        <td><%= link_to 'Destroy', destroy_job_path(@movie.id, job.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
</p>
<p>
  <strong>Videos:</strong>
  <table>
    <% @videos.each do |video| %>
      <tr>
        <td><%= link_to "#{video.video_file_file_name}", show_video_path(@movie.id, video.id) %></td>
        <td><%= link_to 'Download', video.video_file.url(:original, false) %></td>
        <td><%= link_to 'Delete', delete_video_path(@movie.id, video.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Assign Jobs', assign_job_path(@movie.id) %> | 
<%= link_to 'Add a Video', add_video_path(@movie.id) %> |
<%= link_to 'Movie Main Page', movies_path %>
