<%= form_for @video, url: {action: 'update_video', controller: 'movies'}, method: :post do |v_form| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being updated:</h2>

      <ul>
      <% @video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <h1><%= @video.video_file_file_name %></h1>
    <table>
      <tr>
        <td>Movie:</td><td><%= @movie.title %></td>
      </tr><tr>
        <td>Video size:</td><td><%= number_to_human_size(@video.video_file_file_size) %></td>
      </tr><%= fields_for :properties do |p_field| %><tr>
          <td>Resolution:</td><td><%= p_field.text_field :resolution, value: @video.properties[:resolution] %></td>
      </tr><tr>
        <td>Container:</td><td><%= p_field.text_field :container, value: @video.properties[:container] %></td>
      </tr><% end %>
    </table>
  </div>
  <div class="actions">
    <%= v_form.submit %>
  </div>
<% end %>
